//Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px; //right side
  top: 35px; //away from top
  cursor: pointer; //Makes it clickable
  @include easeOut;

  //Creates "Hamburger Button"
  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }

  //Rotate Into X With menu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      //Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      //Line 2- Hide
      &:nth-child(2) {
        opacity: 0;
      }
      //Line 3 Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  //opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible; //unhides menu on show
  }

  //Cascade so it has properties above + specific ones to branding
  &-branding,
  &-nav {
    display: flex; //ensures the text options flow vertically
    flex-flow: column wrap;
    align-items: center; //centers items
    justify-content: center;
    float: left; //split 50/50
    width: 50%;
    height: 100vh; //goes all the way up and down the page
    overflow: hidden; //hides scrollbar
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 5), 0.9);
    list-style: none;
    transform: translate3d(0, -100%, 0); //100% down, -100% up
    @include easeOut;

    &.show {
      //Slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  //Branding Side
  &-branding {
    background: rgba($primary-color, 0.9);
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      //Slide in from bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait.jpg");
      border-radius: 50%; //50% is a circle
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0); //Move off to right of screen 600px
    @include easeOut;
    &.show {
      //Slide in from right side
      transform: translate3d(0, 0, 0);
    }
    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}
//equiv to for(let x = 0; i < 4;i++), Sass for loop
//Delay each nav item slide by 0.1s
//can't just do $x, needs to be wrapped in #{$x}
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s; //ensures that the menu text fly in
  }
}
